[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
mako = "*"
pyyaml = "*"
pytest = "*"
black = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.9"
